.train-table {
  position: relative;
}
.train-table::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #ef6848;
  left: 0;
  right: 0;
  bottom: -65px;
}
.train-table {
  margin: 0 30px;
  box-shadow: 0px 5px 16px 7px rgb(0 0 0 / 50%);
}
.train-table .tables {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 460px;
}
.train-table .tables table {
  width: 100%;
  box-shadow: 0px 1px 11px 1px rgb(0 0 0 / 50%);
  /* border-spacing: 46px; */
  border-collapse: collapse;
}
.train-table .tables table thead tr {
  background: #101820ff;
  color: #ef6848;
  border-bottom: 2px solid #ef6848;
  height: 75px;
}
.train-table .tables table tbody {
  background: #f7f7f7;
  background: #101820ff;
  color: #ef6848;
  box-shadow: 0px -1px 10px 5px rgb(0 0 0 / 33%);
}
.train-table .tables table tbody tr:nth-child(even) {
  background: rgba(255, 54, 7, 0.27);
}
.train-table .tables table tbody tr td,
.train-table .tables table thead tr th {
  text-align: center;
}
.train-table .tables table tbody tr td p {
  margin: 20px 0;
}

table tbody tr td button:hover {
  color: #fff;
}
table tbody tr td button {
  background: transparent;
  color: #fff;
  border: none;
  color: #ef6848;
  outline: none;
  transition: all 0.2s linear;
  margin: 0 10px;
}
.manage-trains .edit-heading {
  color: #ef6848;
  position: absolute;
  top: 8%;
  left: 27%;
  width: 71%;
}
.manage-trains .edit-heading .edit-heading-inner {
  position: relative;
}
.manage-trains .edit-heading .edit-heading-inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #ef6848;
  left: 0;
  right: 0;
  bottom: -20px;
}
.manage-trains .edit-heading .edit-heading-inner h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  line-height: 60px;
  font-weight: 800;
  text-transform: capitalize;
}
.manage-trains .train-table .tables table tbody tr td input[type="text"] {
  background: #101820ff;
  color: #f7f7f7;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-bottom: 2px solid #ef6848;
  border-right: 2px solid #ef6848;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.manage-trains .train-table .tables table tbody tr td input[type="number"] {
  background: #101820ff;
  color: #f7f7f7;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-bottom: 2px solid #ef6848;
  border-right: 2px solid #ef6848;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.manage-trains
  .train-table
  .tables
  table
  tbody
  tr
  td
  input[type="datetime-local"] {
  background: #101820ff;
  color: #f7f7f7;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-bottom: 2px solid #ef6848;
  border-right: 2px solid #ef6848;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.manage-trains
  .train-table
  .tables
  table
  tbody
  tr
  td
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.edit nav {
  margin: 0 30px;
}
.edit nav ol li p {
  display: inline;
}
